{% extends 'app/base.html' %}

{% load static %}

{% block main %}

<!-- Section 1-->
<hr style="border-top: 1px solid grey;">
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid " src="{% static 'app/assets/qhacemos.png' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">   
                <div class="p-5">
                    <h2 class="display-4">¿Qué hacemos?</h2>
                    <p>Primero, lo primero: Te entrevistamos, escuchamos que es lo que buscas en el ahorro. Luego, a través de un test determinamos que "Tipo de inversor" sos. Es decir, que tanto querés arriesgarte, cuanto querés invertir y en que tiempo. Ahora, pensamos en un plan!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 2-->
<hr style="border-top: 1px solid grey;">
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid " src="{% static 'app/assets/persona.png' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">   
                <div class="p-5">
                    <h2 class="display-4">¿Cómo lo hacemos?</h2>
                    <p>Tenemos un pack para cada tipo de inversor o ahorrista. Pensamos en las mejores estrategias de inversión y ahorro, a mediano y largo plazo. Es importante que entiendas que vos podés aprender, que estas alternativas también son para vos. Por eso estamos nosotros.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 3-->
<hr style="border-top: 1px solid grey;">
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid " src="{% static 'app/assets/alza.png' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">   
                <div class="p-5">
                    <h2 class="display-4">Tenemos un plan!</h2>
                    <p>Nuestro equipo planifica de forma constante para mantener el rumbo hacia tus objetivos, ajustando y corrigiendo cualquier desvío en el camino. Estamos para guiarte y garantizar que cada decisión esté orientada a obtener los mejores resultados posibles.</p>
                </div>
            </div>
        </div>
        <div class="text-center my-50">
            <a class="btn btn-success btn-lg" href="https://wa.me/1234567890">Dejanos un whatsapp!</a>
        </div>
        <br>
        <br>
</section> 
<hr style="border-top: 0px solid grey;">

        {% endblock main %}