{% extends 'app/base.html' %}

{% load static %}

{% block title %} Login {% endblock title %}

{% block main %}

<div class="text-center mb-5">
    <br>
    <h2 class="fw-bolder">CONTACTANOS</h2>
    <p class="lead mb-0">Queremos saber de vos, escribinos y agendamos una reunión.</p>
    <div class="container mt-5">
</div>
        <form action="" class="formulario_contacto" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
        </form>
        <div class="mt-3">
            {{ mensaje }}
        </div>
        <table id="tablacontactos" class="table table-striped mt-3">
            <!-- Contenido de la tabla -->
        </table>
    </div>

    {% endblock main %}