{% extends 'app/base.html' %}

{% load static %}

{% block main %}

<!DOCTYPE html>
<html lang="en">
    <p class="lead fw-normal text-muted mb-4">Registro de servicios </p>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario - Agregar Servicio</title>
    <style>
        /* Estableciendo márgenes generales */
        body {
            margin: 20px;
        }
        
        /* Aplicando márgenes específicos al formulario */
        form {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        /* Aplicando márgenes a los elementos internos del formulario */
        input[type="text"], input[type="submit"] {
            margin: 5px 0;
        }

        
    </style>
</head>
<body>
<form action="" method="POST">
        {% csrf_token %}
        <p>Servicio: <input type="text" name="servicio"></p>
        <p>Camada: <input type="text" name="camada"></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
    {% endblock main %}
