{% extends 'app/base.html' %}

{% load static %}

{% block main %}
<!-- Header I -->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Lleva tus finanzas al próximo nivel</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Descubrí como mejorar tu futuro financiero con nuestras soluciones y asesoría especializada. Invertir en educación financiera es la clave para que puedas tomar decisiones informadas y alcanzar tus metas económicas. Además, vas a invertir tu dinero a traves de una de las sociedades de bolsa más prestigiosas del país, lider en comercialización de valores negociables. Suscribite y asegura tu camino hacia la libertad financiera!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'Suscripciones'%}">Contratar</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#Empresa">Quienes somos</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img src="{% static 'app/assets/010.jpg' %}" alt="..." /></div>
        </div>
    </div>
</header>

<!-- Header II -->
            <header class="py-5">
                <div class="container px-5">
                    <div id="Empresa">
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-50">
                                <h1 class="fw-bolder mb-3">Nuestra misión es ayudarte a cumplir tus objetivos financieros</h1>
                                <p class="lead fw-normal text-muted mb-4">Nuestro enfoque se centra en brindarte herramientas efectivas y asesoramiento integral para que puedas tomar decisiones estratégicas, optimizando tus recursos y maximizando tus oportunidades. Nos comprometemos a trabajar con vos para que logres tus metas financieras con confianza y éxito.</p>
                                <a class="btn btn-primary btn-lg" href="{% url 'Empresa'%}">Conocenos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>   
<!-- Testimonio -->
<div class="container px-2 my-2 px-2">
    <section class="py-5 border-bottom">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">COMENTARIOS QUE APORTAN VALOR</h2>
            <p class="lead mb-0">Nuestros clientes nos prefieren, y lo demuestran!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonial 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">
                                "El servicio es excelente! Los chicos siempre dispuestos y despejan todas las dudas."</p>
                                <div class="small text-muted">- Santiago, Lanús</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial 2-->   
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1"></p>
                                "Muy buena atención. Superaron ampliamente mis expectativas. Siempre hice plazos fijos, pero esto es completamente distinto. Altamente recomendables!
                                <div class="small text-muted">- Belén, Mercedes (B)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}