{% extends 'app/base.html' %}

{% load static %}

{% block main %}

<!-- SUSCRIPCIONES -->

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">INVERTÍ EN TU CRECIMIENTO, ASEGURÁ TU FUTURO.</h2>
            <p class="lead mb-0">El comienzo es hoy, invertí en vos! Suscribete ahora.</p>
        </div>
        <div id="Suscripciones">
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- SUSCRIPCION BRONCE -->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Bronce</div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$8.000</span>
                            <span class="text-muted">Mensual.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Capacitaciones Gratuitas</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Reporte financiero semanal
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Webinar semanal
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Acceso a networking
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Reuniones mensuales
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Asesoría personalizada
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Seguimiento personalizado
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Acceso a Eventos exclusivos
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="https://www.mercadopago.com.ar/paid?CODE=V1C70X&utm_source=google&utm_medium=cpc&utm_campaign=MLA_MP_G_AO_ALL_BRD_SEARCH_MP_EXACT&matt_tool=28766038&matt_word=MLA_MP_Sellers_AO_X_G_Search_X_BrandKW_X&gad_source=1&gclid=CjwKCAjwzIK1BhAuEiwAHQmU3m1Ea70sv41Gmu30I419jNgdOWTXOVOVBTistrSV2c1w5YutEzzvnBoC6SkQAvD_BwE">SELECCIONAR PLAN</a></div>
                    </div>
                </div>
            </div>
            <!-- SUSCRIPCION SILVER-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold">
                            <i class="bi bi-star-fill text-warning"></i>
                            Silver
                        </div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$15.000</span>
                            <span class="text-muted">Mensual.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Capacitaciones Gratuitas</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Reporte financiero semanal
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Webinar semanal
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Acceso a Networking
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Reuniones mensuales
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Asesoría Personalizada
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Seguimiento personalizado
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Acceso a Eventos exclusivos
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-primary" href="https://www.mercadopago.com.ar/paid?CODE=V1C70X&utm_source=google&utm_medium=cpc&utm_campaign=MLA_MP_G_AO_ALL_BRD_SEARCH_MP_EXACT&matt_tool=28766038&matt_word=MLA_MP_Sellers_AO_X_G_Search_X_BrandKW_X&gad_source=1&gclid=CjwKCAjwzIK1BhAuEiwAHQmU3m1Ea70sv41Gmu30I419jNgdOWTXOVOVBTistrSV2c1w5YutEzzvnBoC6SkQAvD_BwE">SELECCIONAR PLAN</a></div>
                    </div>
                </div>
            </div>
            <!-- SUSCRIPCION GOLD -->
            <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Gold</div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">$20.000</span>
                            <span class="text-muted">Mensual.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Capacitaciones Gratuitas</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Reporte financiero semanal
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Webinar semanal
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Acceso a Networking
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Reuniones Mensuales
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Asesoría Personalizada
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong></strong>
                                Seguimiento Personalizado
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Acceso a Eventos exclusivos
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="https://www.mercadopago.com.ar/paid?CODE=V1C70X&utm_source=google&utm_medium=cpc&utm_campaign=MLA_MP_G_AO_ALL_BRD_SEARCH_MP_EXACT&matt_tool=28766038&matt_word=MLA_MP_Sellers_AO_X_G_Search_X_BrandKW_X&gad_source=1&gclid=CjwKCAjwzIK1BhAuEiwAHQmU3m1Ea70sv41Gmu30I419jNgdOWTXOVOVBTistrSV2c1w5YutEzzvnBoC6SkQAvD_BwE">SELECCIONAR PLAN</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-50">
        <a class="btn btn-success btn-lg" href="/app/buscar_form_con_api">Servicios Listados</a>
    </div>
    <br>
</section>

{% endblock main %}