{% extends "app/base.html" %}

{% load static %}

{% block main %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Servicios</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarServicio/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" value="{{servicio.id}}" class="form-control" placeholder="id"
                            minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtnombre" name="txtnombre" value="{{servicio.nombre}}" class="form-control" placeholder="nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="numvaloracion" name="numvaloracion" value="{{servicio.valoracion}}" class="form-control" min="1" max="9"
                            value="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}